/* General */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: black;
    height: 100%; /* Necesario para usar flex en todo el contenedor */
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background-image: url(../img/header.jpg);
    background-position: center 10%;
    background-size: cover;
    color: white;
}

.brand-logo {
    width: 80px;
    height: auto;
    max-width: 70%;
}

.navbar-nav {
    padding-right: 50px;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: white;
    background-color: #ff9900;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: font-weight 0.1s ease;
}

.navbar-nav .nav-link:hover {
    color: black;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #ff9900;
}

/* Main */
main {
    flex: 1; /* El main tomará todo el espacio disponible */
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar el contenido verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
    padding: 20px;
}

.main-content {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #ffeb3b;
    text-shadow: 2px 2px 4px #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.devs, .school {
    background: rgba(255, 111, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.devs h2, .school h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f7d917;
}

div p {
    font-size: 1.1rem;
    margin: 5px 0;
}

.main-content span {
    color: #ffeb3b;
    font-weight: 600;
}

/* Footer */
.footer {
    height: 50px;
    background-color: #ff9900;
    text-align: center;
}
