/* General */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%; /* Necesario para usar flex en todo el contenedor */
    display: flex;
    flex-direction: column;
    /* Fondo */
    background-image: url(../img/main.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
}

/* Navbar */
.brand-logo {
    width: 80px;
    height: auto;
    max-width: 70%;
}

.navbar-nav {
    padding-right: 50px;
}

.navbar-nav .nav-link {
    display: inline-block;
    color: white;
    background-color: #ff9900;
    margin: 10px 10px 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: font-weight 0.1s ease;
}

.navbar-nav .nav-link:hover {
    color: black;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #ff9900;
}

/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: center; /* Centrar el contenido verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
}

.optimal-path-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.matrix-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #ff9900;
}

.matrix-table {
    border-collapse: collapse;
}

.matrix-table td {
    width: 50px;
    height: 50px;
    /* border: 1px solid black; */
    background-size: cover;
    position: relative;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.overlay-image.value-2 {
    transform: scale(0.5);
}

.overlay-image.value-3 {
    transform: scale(1.2);
}

.overlay-image.goku {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0.5); /* Centrar y escalar la imagen */
    background-size: contain; /* Asegurarse de que la imagen mantenga sus proporciones */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.btn-reload {
    background-color: #ff9900;
    color: white;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.btn-reload:hover {
    background-color: #e68a00;
}

.btn-play {
    background-color: #ff9900;
    color: white;
    border-radius: 10px;
    transition: background-color 0.1s ease;
}

.btn-play:hover {
    background-color: #e68a00;
}